<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429513832988-h68o5g53259l7lkk7h7s9uopde6mvd5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429513832988-h68o5g53259l7lkk7h7s9uopde6mvd5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDPTEAagc7oQFJgoSvmK_LLWBkrxF6LPEg</string>
	<key>GCM_SENDER_ID</key>
	<string>429513832988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheukheilo.CinemaAssistant</string>
	<key>PROJECT_ID</key>
	<string>cinemaassistant-f78d1</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemaassistant-f78d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:429513832988:ios:7cca1fbe9ca5aeeb61fdd9</string>
	<key>DATABASE_URL</key>
	<string>https://cinemaassistant-f78d1.firebaseio.com/</string>
</dict>
</plist>
